h1{
    text-align: center;
    color: #EB6123;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid #AB6D23;
}
a{
    text-align: center;
    display: block;
    color: #C03C09;
}
body{
    background-color: #171615;
}
footer{
    position:absolute;
    bottom:0;
    color: #647E68;
}
p{
    text-align: center;
    color: #AB6D23;
    font-size: large;
}
summary{
    text-align: center;
    color:#C03C09;
}
